<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style>
        * {
            word-break: break-all;
        }
    </style>
</head>
<body>
<h1>受保护的资源（登录态才能进入此页面）</h1>
<fieldset>
    <legend>当前用户</legend>
    <div th:text="${user}"></div>
</fieldset>
<fieldset>
    <legend>已认证的客户端</legend>
    <div th:text="${authorizedClient}"></div>
</fieldset>
<hr/>
<div>
    <form th:action="@{/logout}" method="post">
        <button type="submit">退出</button>
    </form>
</div>
</body>
</html>
