<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<!--<p>当前页面不受保护</p>-->

<fieldset th:if="${isLogined}">
    <legend>已登录：</legend>
    <div>
        <div>当前用户：</div>
        <div th:text="${user}"></div>
    </div>
    <hr/>
    <form th:action="@{/logout}" method="post">
        <button type="submit">退出</button>
    </form>
    <div th:if="${authorizedClient}">
        <div>已认证的客户端：</div>
        <div th:text="${authorizedClient}"></div>
    </div>
</fieldset>

<fieldset th:if="${!isLogined}">
    <legend>未登录：</legend>
    <div><a th:href="@{${authorizationRequestUri}}">OIDC 单点登录</a></div>
    <div><a th:href="@{/home}">访问受保护的主页</a></div>
</fieldset>
</body>
</html>
